body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my styles */
.app {
    height: 100vh;
}
.app-font {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
}

/* challenge buttons */
.challenge-btn-container {
    width: 100%;
    background-color: #f8f9fb;
    display: flex;
    justify-content: space-evenly;
    padding: 2% 0%;
}
.challenge-btn {
    background-color: #f8fafe;
    border: none;
    border-radius: 5px;
    padding: 1% 2%;
    transition: .4s;
}
.challenge-btn:hover {
    background-color: #fefeff;
    cursor: pointer;
    box-shadow: 4px 6px #353b48;
}


/* challenge #1 */
.app-one {
  background-color: #c3f63b;
}
.add-cart-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2% 0;
    margin: 0 auto;
}
.add-cart-btn {
    border: none;
    border-radius: 48px;
    background-color: #353b48;
    color: #c3f63b;
    padding: 1% 5%;
    box-shadow: 14px 16px #f5f6fa;
    transition: .34s;
}
.add-cart-btn:hover {
    border: none;
    border-radius: 48px;
    background-color: #f5f6fa;
    color: #353b48;
    padding: 1% 5%;
    box-shadow: -14px -16px #353b48;
    transform: translateX(6%) translateY(10%);
}